<footer class="footer mt-auto py-3">
  <div class="container">
    <div class = "row ">
      <h3 class="text-muted">Cultivated by:</h3>
    </div>
    <div class="row">
      <div class="col-6 .d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/erik-raith-8b441969/" class="fa fa-linkedin"></a>
        <a href="https://github.com/ERaith" class="fa fa-github"></a>
        <span class="text-muted">Erik Raith </span>
      </div>
      <div class="col-6">
        <a href="https://www.linkedin.com/in/cachzenick/" class="fa fa-linkedin"></a>
        <a href="https://github.com/caachz" class="fa fa-github"></a>
        <span class="text-muted">Cassie Achzenick </span>
      </div>
      <div class="col-6">
        <a href="https://www.linkedin.com/in/jonathan-tschida/" class="fa fa-linkedin"></a>
        <a href="https://github.com/jonathan-tschida" class="fa fa-github"></a>
        <span class="text-muted">Jonathan Tschida </span>
      </div>
      <div class="col-6">
        <a href="https://www.linkedin.com/in/karenguyenn/" class="fa fa-linkedin"></a>
        <a href="https://github.com/KareNguyen94" class="fa fa-github"></a>
        <span class="text-muted">Karen Neguen </span>
      </div>
    </div>
  </div>
</footer>
