@import '../app.component.scss';
.alert{

  color: white;
  font-size: 1.5em;
 
  padding: 1em;

  display: flex;
  justify-content: center;
}


.red{
  background-color: red;
}

.green{
  background-color:lightblue;
}

.water{
  background-color:lightblue !important;
}
.repotting{
  background-color:tan !important;
}
.location{
  background-color:lightgoldenrodyellow !important;
}




.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}


.entry-type{
  flex-grow:1;
}



a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
// @media screen and (max-width: 767px) {

//   .card:not(.highlight-card) {
//     height: 200px;
//     margin: 8px 0;
//   }

//   .card.highlight-card span {
//     margin-left: 72px;
//   }

// }

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

* {
  font-family: 'Amatic SC', cursive;
}

button {
  margin-top: 0px;
  background-color: #bdde77;
  border-radius: 100px;
  border: 1px solid lightgrey;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 2px 2px 2px lightgray;
  min-width: 60px;
}

