<section class="content" role="main">
  <div class="container">
    <div class="row">
      <button [routerLink]="['/forest/new-plant']" class="col-sm col-12 btn">
        {{ "Add a new plant" | uppercase }}
      </button>
    </div>
    <div class="row">
      <div *ngFor="let plant of plants$ | async" class="card overlay-div">
        <img src="{{ plant.imageURL }}" class="card-img" alt="..." />

        <a [routerLink]="['/forest', plant.id, 'plant-overview']">
          <div class="card-img-overlay">
            <h5 class="card-title">{{ plant.plantName }}</h5>
          </div>
        </a>
        <a class="delete" title="delete plant" (click)="delete(plant)">
          <img class="icons" src="assets/icons8-multiply-100.png" />
        </a>
      </div>
    </div>
  </div>
</section>
