<!-- 
<form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()"> -->
  <div class="content">
    <h2>Care</h2>
    <div class="flex-row">
      <label>Watering:</label>
        <input class="input" #plantWatering />
    </div>
    <div class="flex-row">
      <label for="water">Frequency:</label>
  
    <select name="water" id="water">
      <option value="1">Once a week</option>
      <option value="2">Twice a week</option>
      <option value="3">Once a month</option>
    </select>
    </div>
    <div class="flex-row">
      <label>House Tempature:</label>
        <input class="input" #plantTemp />
    </div>
    <div class="flex-row">
      <label for="temp">Tempature:</label>
  
    <select name="temp" id="temp">
      <option value="65">65°</option>
      <option value="66">66°</option>
      <option value="67">67°</option>
    </select>
    </div>
    <div class="flex-row">
      <label>Soil:</label>
        <input class="input" #plantSoil />
    </div>
    <div class="flex-row">
      <label for="soil">Frequency:</label>
  
    <select name="soil" id="soil">
      <option value="1">Once a week</option>
      <option value="2">Twice a week</option>
      <option value="3">Once a month</option>
    </select>
    </div>
    <div class="flex-row">
      <label>Sunlight:</label>
        <input class="input" #plantSunlight />
    </div>
    <div class="flex-row">
      <label for="sunlight">Hours:</label>
  
    <select name="sunlight" id="sunlight">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    </div>
    <div class="flex-row">
      <label>Location:</label>
        <input class="input" #plantLocation />
    </div>
    <div class="flex-row">
      <label for="location">State:</label>
  
    <select name="location" id="location">
      <option value="california">California</option>
      <option value="colorado">Colordo</option>
      <option value="connecticut">Connecticut</option>
    </select>
    </div>
    <div class="flex-row">
      <label>Care Notes:</label>
        <textarea class="input"rows="4" cols="50" #plantNotes> </textarea>
    </div>
  <button class="add">Submit</button>
  </div>
      <!-- <button (click)="goBack()">Back</button> -->
    <!-- </form> -->
  
