<form [formGroup]="uploadForm">
  <div class="content">
    <div class="care-div">
      <div class="flex-row header">
        <h2>Type of Journal Event</h2>
      </div>
      <div class="flex-row">
        <label for="water">Journal Entry Type:</label>
        <select name="water" id="water" formControlName="eventType">
          <option value="water">Watering</option>
          <option value="image">Image</option>
          <option value="repotting">Repotting</option>
          <option value="location">Location</option>
        </select>
      </div>

      <div class="flex-row" formGroupName="info">
        <label>Notes:</label>
        <input class="input" formControlName="notes" />
      </div>
    </div>
  </div>
</form>
<form [formGroup]="imageUpload" enctype="multipart/form-data">
  <div class="content">
    <div class="care-div">
      <div class="flex-row header">
        <h2>Type of Journal Event</h2>
      </div>
      <div class="flex-row">
        <label>Img:</label>
        <input class="input" type="file" id="file" (change)="onFileSelected($event)" />
      </div>
    </div>
    <button class="add" (click)="onUpload()">Submit</button>
  </div>
</form>
 
