@import '../app.component.scss';


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.input {
  border: 1px solid rgb(135, 135, 135);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(121, 121, 121);
  // width:100%;
}


.add {
  margin-top: 15px;
  background-color: #bdde77;
  border-radius: 100px;
  border: 1px solid lightgrey;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  box-shadow: 2px 2px 2px lightgray;
  width: 60px;
  margin-right: 10px;
}

.care-div {
  background-color: lightgrey;
  border-radius: 10px;
}

.all {
  padding-left: 10px;
  padding-right: 10px;
}


.upload {
  width: 300px;
  padding-bottom: 5px;
}

h2 {
  text-decoration: underline;
  font-size: 20px;
}

button {
  margin-top: 0px;
  background-color: #bdde77;
  border: 1px solid lightgrey;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 2px 2px 2px lightgray;
  min-width: 60px;
}